<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MgmtUrl" value="https://management.core.windows.net/"/>
    <add key="MgmtCert" value="" />
    <add key="subscriptionid" value="3402db5e-f0ea-46ea-a151-bb2e3e99789b"/>
    <add key="subscriptionname" value="Windows Azure Platform MSDN Premium"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>

